<ul class="chat">
	{{# messages }}
			<li class="left clearfix">
					<div class="chat-body clearfix">
							<div class="header">
									<strong class="primary-font">
										{{author}}
									</strong>
							</div>
							<p>{{message}}</p>
					</div>
			</li>
	{{/ messages }}
</ul>
