<header>
	<div class="header__contents">
		<nav>
			<ul>
				<li>
					<a href="#">
						<img src="../../images/icons/comments-alt-solid.svg">
						<span class="header__text">Class chat</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../../images/icons/heart-solid.svg">
						<span class="header__text">Support</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../../images/icons/gamepad-solid.svg">
						<span class="header__text">Game</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../../images/icons/chart-bar-solid.svg">
						<span class="header__text">Leaderboard</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../../images/icons/thumbs-up-solid.svg">
						<span class="header__text">Vote</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>