<header>
	<div class="header__contents">
		<img src='https://dummyimage.com/300x150.png?text=LOGO' alt=''/>
		<nav>
			<ul>
				<li><a href="#">Homepage</a></li>
				<li><a href="#">Homepage</a></li>
				<li><a href="#">Homepage</a></li>
				<li><a href="#">Homepage</a></li>
			</ul>
		</nav>
	</div>
</header>