<header>
	<div class="header__contents">
		<nav>
			<ul>
				<li><a href="#">Chatroom</a></li>
				<li><a href="#">Theme</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Game</a></li>
				{{! <li><a href="#">Leaderboard</a></li> }}
			</ul>
		</nav>
	</div>
</header>