/* HEADER */

header {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;

  background: $grey-100;
  border-top: 1px solid $grey-500;
  color: $black;
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;

  a {
    display: block;
    padding: $spacing-default;

    color: inherit;
    font-size: 1.3rem;
    text-decoration: none;
  }

  li {
    flex-grow: 1;
    text-align: center;

    + li {
      a {
        border-left: 1px solid $grey-500;
      }
    }
  }

  nav {
    width: 100%;
  }

  ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;

    list-style: none;
  }
}

.header__contents {
  display: flex;
  margin: 0 auto;
  max-width: 1170px;
}
