/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 16px;
	margin-top: 0;

	font-weight: $font-weight-bold;
	line-height: 1.15;
	text-transform: capitalize;
}

$heading-1: 72px;
$heading-2: 60px;
$heading-3: 48px;
$heading-4: 36px;
$heading-5: 24px;
$heading-6: 18px;
$heading-tiny: 16px;

h1,
.h1 {
	font-size: $heading-2;
}

h2,
.h2 {
	font-size: $heading-3;
}

h3,
.h3 {
	font-size: $heading-4;
}

h4,
.h4 {
	font-size: $heading-5;
}

h5,
.h5 {
	font-size: $heading-6;
}

h6,
.h6 {
	font-size: $heading-tiny;
}

@include bp-min-width($bp-lg) {
	h1,
	.h1 {
		font-size: $heading-1;
	}
	h2,
	.h2 {
		font-size: $heading-2;
	}
	h3,
	.h3 {
		font-size: $heading-3;
	}
	h4,
	.h4 {
		font-size: $heading-4;
	}
	h5,
	.h5 {
		font-size: $heading-5;
	}
	h6,
	.h6 {
		font-size: $heading-6;
	}
}
