/* HR */

hr {
	margin: 64px 20px;
	max-width: 1536px;
	padding: 0;
	width: calc(100% - 60px);

	border: none;
	border-top: medium solid $grey-400;
	color: $grey-400;

	@include bp-min-width($bp-md) {
		margin: 144px 30px;
	}

	@include bp-min-width(1536px) {
		margin: 144px auto;
	}
}
